# Python For Developers
### Day 1: Python Fundamentals - Deep Drive

- A Quick Refresher on Core Python Concepts
- Python Classes, Objects and OOP
- Data Model Methods ("Dunder Methods")
- Advanced OOP features overview (meta-clases, ABCs, etc...)

### A Quick Refresher on Core Python Concepts
 - A high-level "General-purpose" programming language
 - Compiled + Interpreted Programming language
 - Python is a "pure" Object Oriented Programming language by design
 - Python allows multi-paradigm programming
    - Scripts (for quick automation)
    - Procedural programming
    - Modular programming
    - OOP 
    - AOP patterns
    - Functional programming
    - Concurrent programming
 - Easy to get started and provides a smooth learning curve
 - A Fully "dynamic" programming language
 - The language design was focussed more towards writing "readable" and maintainable code.

NOTE: About Parse-time errors and run-time errors

SyntaxError, IndentationError and TabError might occur while compiling or parsing the python source code.

However, NameError, TypeError, ValueError and many other Errors are errors that occur during execution -> runtime errors.

### Python statements and expressions
 
 - Simple statements
   Simple statements by default end with a newline. But you can sometimes have multiple simple statements in a single line separated by \;

   - Assignments
   - Expressions (includes function calls)
   - Import statements (```import```, ```from``` ... ```import```)
   - Raising exceptions and Assertions (```raise```, ```assert```)
   - Flow control statements (break, continue)
   - The ```nonlocal``` and ```global``` qualifiers within functions
   - The ```return``` and ```yield``` within functions
   
 - Compound statements

In [4]:
print("Hello world")
print("Another line")

Hello world
Another line

In [5]:
print("Hello world") ; print("Another line")

Hello world
Another line

### Assignments

In [ ]:
a = 100       # simple assignment
b = "hello"   # another example of a simple assignment

print(a)

100

In [ ]:
a = 12345
b = a
print(a, b) # How many objects are created ? Ans: 1

# NOTE: All assignments in Python copy "references", not the actual objects

12345 12345

In [8]:
a = 100
b = a

a += 1

print(a, b)

101 100

All numeric objects in Python are "immutable".

Immutable objects in Python are objects that generally represent some sort of data and their notion of value cannot be altered.

What are the benefits of having "immutable" objects in a programming language design ?
 - Their usage can be highly optimized in the language runtime.
 - They are by default "concurrency-safe"

NOTE: "types" are not associated to variables / names in Python. Types are rather associated with objects. Therefore, it is okay to use statements like below:
   a = 100      # 'a' is assigned to an integer
   a = "hello"  # 'a' is now re-assigned to a string

Python is "dynamic", but "strongly" typed language.

In [11]:
a = [10, 20, 30]

b = a
print(a, b)

a[0] = 100
print(a, b)

[10, 20, 30] [10, 20, 30]
[100, 20, 30] [100, 20, 30]

In [14]:
a = 100
b = "200"
print(a, b)
print(type(a), type(b))

c = a + b
print(c)

100 200
<class 'int'> <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
# Tuple packing (assignment)
a = 10, "hello", 30.5
print(a, type(a))

info = "John Doe", "Seattle", 67
print(info)

# Tuple is an "immutable" sequence of arbitrary objects.
# Sequences are "ordered" collection of items.
print(info)
print(info[0])
info[0] = "Adrian Smith"

(10, 'hello', 30.5) <class 'tuple'>
('John Doe', 'Seattle', 67)
('John Doe', 'Seattle', 67)
John Doe

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = 10, 20, 30
print(a, type(a))

# Tuple unpacking (assignment)
b, c, d = a
print(b, c, d)

# If the RHS of an assignment is a collection of some form, then if LHS can
# have comma separated names matching the number items in the collection.

(10, 20, 30) <class 'tuple'>
10 20 30

In [25]:
# Assignment chainloading
a = b = c = 100
print(a, b, c)

100 100 100

Expression in Python can be one of the following:
   - Arithmetic expressions (+, -, *, / ...)
   - Function calls / method calls (print(), type())
   - Boolean expressions ( ==, !=, <, >, ...)

NOTE: In Python, statements are not treated as expressions!

In [26]:
a = 10
a++

SyntaxError: invalid syntax (2777644652.py, line 2)

In [ ]:
a = 10
a += 1  # a = a + 1

In [ ]:
a = 10
b = 20
b = a += 1 # Statement was used in place of an expression.
print(a, b)

SyntaxError: invalid syntax (3397350837.py, line 3)

#### In a C program:
```
#include <stdio.h>
int main()
{
    int ch;
    while ((ch = getchar()) != EOF) {
        putchar(ch)
    }
}
```
There was no equivalent of this code in Python (statement usage as expression in a while loop)

In [ ]:
while (line = input("Enter a string: ")) != "end":
    print("line was", line)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2103341642.py, line 1)

In [ ]:

while True:
    line = input("Enter something: ")
    if line == "end":
        break
    print("line was", line)

line was dfsdsf
line was werewre
line was dfgdfg
line was ertert
line was dfgdfg
line was ertert

In [ ]:
# Walrus assignments (available from Python 3.8 onwards)
# Allows a form of assignment to be used as a part of an expression.

while (line := input("Enter something: ")) != "end":
    print("line was", line)

line was dfsdsf
line was werewre
line was dfgdfg
line was ertert
line was dfgdfg
line was ertert

In [30]:
#### Augmented assignments
a = 10
a += 1 # Augmenting the + operator -> a = a + 1
a -= 5 # a = a - 5
a *= 2 # a = a * 2

In [32]:
a = 10, 20, 30

b, c = a
print(b, c)

ValueError: too many values to unpack (expected 2)

In [ ]:
a = 10, 20, 30, 40

b, c = a  # Quick offline exploration: find out a means to make this work!

ValueError: too many values to unpack (expected 2)

In [34]:
### Parallel assignment

a, b = 10, 20
print(a, b)

a, b = b, a
print(a, b)

10 20
20 10

In [39]:
5 / 2

2.5

In [ ]:
20 / 2  # truediv -> always returns a float

10.0

In [ ]:
20 // 2  # floordiv

10

In [42]:
2 ** 5  # power-of operator

32

In [43]:
import math
math.sqrt(2)

1.4142135623730951

In [44]:
2 ** 0.5

1.4142135623730951

In [48]:
x = 10
for i in range(x // 2):
    print(i)

0
1
2
3
4

In [49]:
# Write a program to check if a given number is prime ?

def isprime(n):
    """Returns True is n is prime, else False"""
    for i in range(2, int(n ** 0.5)+1):
        if n % i == 0:
            return False
    return True

print(isprime(13), isprime(127), isprime(35), isprime(21))
# True True False False

True True False False

Exercise: https://tinyurl.com/findall-ex

In [64]:
# %load https://tinyurl.com/findall-ex
"""
Implement the findall() function below that should return
a list of indices all occurrence of a substring found in 
a string (both passed as arguments to the function).

Example usage:
--------------
   >>> quote = '''
   ... When I see a bird
   ... that walks like a duck
   ... and swims like a duck
   ... and quacks like a duck,
   ... I call that bird a duck
   ... '''

   >>> findall(quote, "duck")
   [37, 59, 82, 107]

"""

def findall(main_string, sub_string):
    """
    Returns a list of indices of each occurrence of
    sub_string in main_string

    Example usage:
    --------------
        >>> poem = '''
        ... A fly and flea flew into a flue,
        ... said the fly to the flea 'what shall we do ?'
        ... 'let us fly' said the flea
        ... and said the fly 'let us flee'
        ... and so they flew through a flaw in the the flue.
        ... '''

        >>> findall(poem, 'fly')
        [3, 43, 88, 120]

    """
    indices = []
    index = 0
    skip = len(sub_string)
    while True:
        index = main_string.find(sub_string, index)
        if index == -1:
            break
        indices.append(index)
        index += skip
    return indices


a = "this is a test string with test test repeated test times"
findall(a, "test")

[10, 27, 32, 46]

In [ ]:
# %load https://tinyurl.com/findall-ex
"""
Implement the findall() function below that should return
a list of indices all occurrence of a substring found in 
a string (both passed as arguments to the function).

Example usage:
--------------
   >>> quote = '''
   ... When I see a bird
   ... that walks like a duck
   ... and swims like a duck
   ... and quacks like a duck,
   ... I call that bird a duck
   ... '''

   >>> findall(quote, "duck")
   [37, 59, 82, 107]

"""

def findall(main_string, sub_string):
    """
    Returns a list of indices of each occurrence of
    sub_string in main_string

    Example usage:
    --------------
        >>> poem = '''
        ... A fly and flea flew into a flue,
        ... said the fly to the flea 'what shall we do ?'
        ... 'let us fly' said the flea
        ... and said the fly 'let us flee'
        ... and so they flew through a flaw in the the flue.
        ... '''

        >>> findall(poem, 'fly')
        [3, 43, 88, 120]

    """
    indices = []
    index, skip = 0, len(sub_string)
    while (index := main_string.find(sub_string, index)) != -1:
        indices.append(index)
        index += skip
    return indices


a = "this is a test string with test test repeated test times"
findall(a, "test")

[10, 27, 32, 46]

In [63]:
a = "this is a test string with test test repeated test times"
a.find("test", 50)

-1

In [ ]:
a.find()

Docstring:
S.find(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Return -1 on failure.
Type:      builtin_function_or_method

NOTE: Use 'for' loop for "deterministic" iteration (i.e., the number of times - a block of statements to be executed is pre-determined).

Use 'while' loop for "non-deterministic" iteration based on a condition.

### Python Classes, Objects and OOP

The significant benefit of OOP:
  - "Delegation of concerns"

The three pillars of OOP:
  - is-A    (inheritance) - Generalization
  - has-A   (composition) - Reusability
  - uses-A  (contract/interface, abstraction, encapsulation)

Generalization is used to "standardize" the interface to an object, while allowing alternative implementations.

Python Coding Guidelines: https://peps.python.org/pep-0008/

In [67]:
class Car:  # Class definition
    pass

c = Car()   # Constructor expression
print(c)
print(Car)

<__main__.Car object at 0x107735460>
<class '__main__.Car'>

In [68]:
c1 = Car()
c2 = Car()
print(c1, c2)

<__main__.Car object at 0x107734080> <__main__.Car object at 0x107735cd0>

In [ ]:
c1.make = "Honda"   # Setting an attribute to an object (instance attributes)
c2.make = "Toyota"  # Setting an attribute to an object 

print(c1.make, c2.make)

Honda Toyota

In [70]:
Car.price = 1_000_000  # Setting a class-attribute

print(Car.price)

1000000

In [72]:
c2.price

1000000

In [ ]:
class Person: pass

p = Person()
p.enam = "John"

In [76]:
def drive_car(c):
    print("Driving", c.make)

drive_car(c1)
drive_car(c2)

drive_car(p)

Driving Honda
Driving Toyota

AttributeError: 'Person' object has no attribute 'make'

In [78]:
drive_car

In [ ]:
# When you assign a function as a class attribute, they are 
# transformed to "instance methods"

Car.drive = drive_car

Car.drive

In [80]:
drive_car(c1)
Car.drive(c1)

Driving Honda
Driving Honda

In [84]:
Car.drive

In [83]:
c1.drive

In [ ]:
c1.drive() # Car.drive(c1). # Instance method invocation

Driving Honda

In [82]:
def square(x):
    return x*x

square(2)

s = square
print(square(3))
print(s(3))

9
9

In [ ]:
class Car:
    price = 1_000_000  # This is a class attribute
    print("This is Car class, price =", price)

Car.price

This is Car class, price = 1000000

1000000

In [91]:
class Car:
    price = 1_000_000

    def drive(c):
        print("Driving", c.make)

c1 = Car()
#c1.make = "Maruti"
c1.drive() # Car.drive(c1)

AttributeError: 'Car' object has no attribute 'make'

In [99]:
class Car:
    price = 1_000_000

    def __init__(self):
        self.make = "Suzuki"

    def drive(self):
        print("Driving", self.make)

c1 = Car()
c1.drive() # Car.drive(c1)

Driving Suzuki

In [98]:
class Person:
    def __init__(self):
        print(f"Person object {self=} instantiated.")

p = Person()
p

Person object self=<__main__.Person object at 0x107727da0> instantiated.

In [ ]:
# The __init__() methods is automatically called during 
# instantiation of the object.

class Car:
    price = 1_000_000

    def __init__(self, make):
        self.make = make

    def drive(self):
        print("Driving", self.make)

c1 = Car("Honda")
c2 = Car("Toyota")
c1.drive() # Car.drive(c1)
c2.drive()

Driving Honda
Driving Toyota